.main-body{
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.container > * {
    margin: 10px;
}











.main-body{
    background-color: #fafafa;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.p-container{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.product-container{
    display: flex;
    
}
.product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 5px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.p-container > * {
    margin: 10px;
    width: 100%;
}
.top-part{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-part{
    min-height: 50%;
    display: flex;
    justify-content: center;
}
.logo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #2a2a2a;   
}
.link{
    color: #fafafa;
    background-color: #2a2a2a;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}